
              <div class="row">
                <div class="col-md-6">
                  <h2>Business Inc.</h2>
                  <p>
                    1 This Street<br>
                    Town<br>
                    Post code
                  </p>
                  <p>
                    (+44) 123 1234<br>
                    hello@business.com
                  </p>
                </div>
                <div class="col-md-6 text-right">
                  <h2>INVOICE</h2>
                  <p>8-May-2016</p>
                  <p>Invoice #1</p>
                  <p>PO 1</p>

                  <h3>Client contact name</h3>
                  <h3>Client name</h3>
                </div>
              </div>
              <hr>
              <table class="table">
                <tr>
                  <td>Item 1</td>
                  <td>2</td>
                  <td>£50.00</td>
                  <td>£100.00</td>
                </tr>
                <tr>
                  <td>Item 2</td>
                  <td>2</td>
                  <td>£50.00</td>
                  <td>£100.00</td>
                </tr>
                <tr>
                  <td>Item 3</td>
                  <td>2</td>
                  <td>£50.00</td>
                  <td>£100.00</td>
                </tr>
                <tr>
                  <td>Item 4</td>
                  <td>2</td>
                  <td>£50.00</td>
                  <td>£100.00</td>
                </tr>
              </table>
              <form method="post">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Check me out
                  </label>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>

            </div>
          </div>
